/* body{  
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo {
    color: yellowgreen;
    font-size: 30px;
}

.texto {
    color: turquoise;
}
.texto_especial{
    color:rgb(127, 255, 212);
    text-align: left;
}

div p{
    color: violet;
}
div h2, h3{
    color: yellow;
}
*{
    font-size: 24px;
    color: black;
    text-align: justify;
} */

/* h1{
    border: 5px black solid;
    text-align: center; 
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 5px;    
} */

/* #fondo{
    background-color: rgba(255,0,0);
    opacity:0.5; 
    height: 400px;
    background-image: url('img.png');
    background-position: bottom;
    background: #0503 url('img.png') repeat-y center;
    background-size: 100px 100px;
    background-repeat: repeat-x; 
    
} */

.margen{
    background-color: rgb(238, 11, 11);
    margin: 15px 20px 25px 30px;
    padding: 30px 25px 20px 15px;
    border: 2px solid black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid yellow;

}

.texto2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: line-through overline underline;
    text-shadow: 3px 5px 5px blue;
    letter-spacing: 3px;
}
a:link{
    color:blueviolet
}
a:visited{
    color: gray;
}
a:hover{
    color:yellow
}
a:active{
    color: red;
}
ul{
    background-color: cyan;
    /* list-style-type: none; */
    /* padding-left: 0; */
    /* list-style-position: inside; */
    list-style-type: circle;
}

table{
    width: 100%;
    border-collapse: collapse;

}
th,td{
    border: 1px solid gray;
    padding: 5px;
}
th{
    background-color: aqua;
    color: blueviolet;
    text-align:left;
}

tr:hover{
    background-color: blueviolet;
    cursor: pointer;

}
/* tr:nth-child(even){
    background-color: azure;
    cursor: pointer; 

} */
tr:nth-child(odd){
    background-color: azure;
    cursor: pointer;

}
span{
    background-color: blue;
    display: block;
    /* display: none; */
    /* visibility: hidden; */
    max-width: 300px
    

}
.inline{
    display: inline;
}
